<%= form_with model: @trip_input, data: { turbo: false }, class: "trip-input-form" do |f| %>
  <% if trip_input.errors.any? %>
    <div class="alert-danger">
      <p><%= pluralize(trip_input.errors.count, "error") %> prohibited trip information from being processed:</p>
      <ul>
        <% trip_input.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>  
      </ul>
    </div>
  <% end %>
  <%= f.label :dep_airport_icao, "Departure Airport" %>
  <%= f.collection_select :dep_airport_icao, Airport.order(:name), :icao, :name %>
  <%= f.label :eet_hour, "Estimated Enroute Time (hours)" %>
  <%= f.number_field :eet_hour %>
  <%= f.label :distance %>
  <%= f.radio_button :distance_unit, "nm", checked: true %>
  <%= f.label :distance_unit, "nm" %>
  <%= f.radio_button :distance_unit, "km" %>
  <%= f.label :distance_unit, "km" %>
  <%= f.number_field :distance %>
  <%= f.label :overnights %>
  <%= f.number_field :overnights, in: 0..7 %>
  <%= f.label :small_airport %>
  <%= f.check_box :small_airport %>
  <%= f.label :medium_airport %>
  <%= f.check_box :medium_airport %>
  <%= f.label :large_airport %>
  <%= f.check_box :large_airport %>
  <%= f.label :international_flight %>
  <%= f.check_box :international_flight %>
  <%= f.label :icao_airport %>
  <%= f.check_box :icao_airport %>

  <%= link_to "Back", root_path, class:"btn btn-secondary" %>
  <%= f.submit "Next", class: "btn btn-primary" %>
<% end %>
