<%= form_with model: @trip_input, data: { turbo: false } do |f| %>
  <% if trip_input.errors.any? %>
    <div class="alert-danger">
      <p><%= pluralize(trip_input.errors.count, "error") %> prohibited trip information from being processed:</p>
      <ul>
        <% trip_input.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>  
      </ul>
    </div>
  <% end %>
  <table>
    <tr>
      <td><%= f.label :dep_airport_icao, "Departure Airport" %></td>
      <td><%= f.collection_select :dep_airport_icao, Airport.order(:name), :icao, :name %></td>
    </tr>
    <tr>
      <td><%= f.label :eet_hour, "Estimated Enroute Time (hours)" %></td>
      <td><%= f.number_field :eet_hour %></td>
    </tr>
    <tr>
      <td>
        <%= f.label :distance %>
        <%= f.radio_button :distance_unit, "nm", checked: true %>
        <%= f.label :distance_unit, "nm" %>
        <%= f.radio_button :distance_unit, "km" %>
        <%= f.label :distance_unit, "km" %>
      </td>
      <td><%= f.number_field :distance %></td>
    </tr>
    <tr>
      <td><%= f.label :overnights %></td>
      <td><%= f.number_field :overnights, in: 0..7 %></td>
    </tr>
    <tr>
      <td><%= f.label :small_airport %></td>
      <td><%= f.check_box :small_airport %></td>
    </tr>
    <tr>
      <td><%= f.label :medium_airport %></td>
      <td><%= f.check_box :medium_airport %></td>
    </tr>
    <tr>
      <td><%= f.label :large_airport %></td>
      <td><%= f.check_box :large_airport %></td>
    </tr>
    <tr>
      <td><%= f.label :international_flight %></td>
      <td><%= f.check_box :international_flight %></td>
    </tr>
    <tr>
      <td><%= f.label :icao_airport %></td>
      <td><%= f.check_box :icao_airport %></td>
    </tr>
  </table>

  <%= link_to "Back", root_path, class:"btn btn-secondary" %>
  <%= f.submit "Next", class: "btn btn-primary" %>
<% end %>
