<%= form_with model: @trip_input, data: { turbo: false }, class: "d-flex flex-column" do |f| %>
  <% if trip_input.errors.any? %>
    <div class="alert-danger">
      <p><%= pluralize(trip_input.errors.count, "error") %> prohibited trip information from being processed:</p>
      <ul>
        <% trip_input.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>  
      </ul>
    </div>
  <% end %>
  <div class="d-flex flex-column p-10">
    <div><%= f.label :dep_airport_icao, "Departure Airport" %></div>
    <div><%= f.collection_select :dep_airport_icao, Airport.order(:name), :icao, :name, class: "form-size" %></div>
  </div>
  <div class="d-flex flex-column p-10">
    <div><%= f.label :eet_hour, "Estimated Enroute Time (hours)" %></div>
    <div><%= f.number_field :eet_hour, size: "3" %></div>
  </div>
  <div class="d-flex flex-column p-10">
    <div>
      <%= f.label :distance %>
      <%= f.radio_button :distance_unit, "nm", checked: true %>
      <%= f.label :distance_unit, "nm" %>
      <%= f.radio_button :distance_unit, "km" %>
      <%= f.label :distance_unit, "km" %>
    </div>
    <div>
      <%= f.number_field :distance, size: "3" %>
    </div>
  </div>
  <div class="d-flex flex-column p-10">
    <div><%= f.label :overnights %></div>
    <div><%= f.number_field :overnights, in: 0..7, size: "3" %></div>
  </div>
  <div class="d-flex flex-row p-10">
    <div><%= f.check_box :small_airport %></div>
    <div><%= f.label :small_airport %></div>
  </div>
  <div class="d-flex flex-row p-10">
    <%= f.check_box :medium_airport %>
    <%= f.label :medium_airport %>
  </div>
  <div class="d-flex flex-row p-10">
    <%= f.check_box :large_airport %>
    <%= f.label :large_airport %>
  </div>
  <div class="d-flex flex-row p-10">
    <%= f.check_box :international_flight %>
    <%= f.label :international_flight %>
  </div>
  <div class="d-flex flex-row p-10">
    <%= f.check_box :icao_airport %>
    <%= f.label :icao_airport %>
  </div>
  <div class="d-flex flex-row justify-content-around container-trip-input-buttons mt-20">
    <%= link_to "Back", root_path, class:"btn btn-secondary" %>
    <%= f.submit "Next", class: "btn btn-primary" %>
  </div>
<% end %>
