<p class="text-color-dark"><%= airport.icao %> - <%= airport.name %></p>
<p class="text-color-dark"><%= airport.city %>(<%= airport.country %>) @<%= airport.distance.round(1) %><%= @trip_input.distance_unit %></p>
