<% require "normalize_country" %>

<div class="to-container p-5">
  <div class="to-container-flight-info m-20">
    <div class="to-container-flight-summary p-20">
      <h1><em>Flight</em> Summary</h1>
    
      <h3>Departure Airport</h2>
      <%= "#{Airport.find_by(icao: @trip_input.dep_airport_icao).name} ( #{@trip_input.dep_airport_icao} | #{Airport.find_by(icao: @trip_input.dep_airport_icao).local_code} ) #{NormalizeCountry(Airport.find_by(icao: @trip_input.dep_airport_icao).country, :to => :emoji)}"  %>

      <h3>Departure Date</h2>
      <%= "#{@departure_day}, #{format_time(@departure_date_time.hour)}:#{format_time(@departure_date_time.min)} UTC" %>
      <h3>Distance & E.E.T.</h2>
      <%= "#{@trip_input.distance_nm}nm (with 10% margin) | #{pluralize(@trip_input.eet_hour, "hour")}" %>

      <h3>Return Flight</h3>
      <%= "#{@return_day}, #{@trip_input.flight_back}, #{pluralize(@trip_input.overnights, "overnight")}" %>
      
      <h3>Filters</h3>
      <% if @trip_input.small_airport %>
          <span class="tag tag-info">small airport</span>
      <% end %>
      <% if @trip_input.medium_airport %>
          <span class="tag tag-info">medium airport</span>
      <% end %>
      <% if @trip_input.large_airport %>
        <span class="tag tag-info">large airport</span>
      <% end %>
      <% if @trip_input.international_flight %>
        <span class="tag tag-info">international</span>
      <% else %>
        <span class="tag tag-info">national</span>
      <% end %>

      <h3>Departure Weather UTC</h3>
      <table>
        <tr>
          <th></th>
          <th><%= @dep_icon0[ 1 ] %>h</th>
          <th><%= @dep_icon1[ 1 ] %>h</th>
          <th><%= @dep_icon2[ 1 ] %>h</th>
          <th><%= @dep_icon3[ 1 ] %>h</th>
          <th></th>
          <th><%= @arr_icon0[ 1 ] %>h</th>
        </tr>
        <tr>
          <td>&#8594</td>
          <td><img src="http://openweathermap.org/img/wn/<%= @dep_icon0[ 0 ] %>.png" alt="weather logo" title="<%= @dep_icon0[ 2 ] %>"></td>
          <td><img src="http://openweathermap.org/img/wn/<%= @dep_icon1[ 0 ] %>.png" alt="weather logo" title="<%= @dep_icon1[ 2 ] %>"></td>
          <td><img src="http://openweathermap.org/img/wn/<%= @dep_icon2[ 0 ] %>.png" alt="weather logo" title="<%= @dep_icon2[ 2 ] %>"></td>
          <td><img src="http://openweathermap.org/img/wn/<%= @dep_icon3[ 0 ] %>.png" alt="weather logo" title="<%= @dep_icon3[ 2 ] %>"></td>
          <td>&#8592</td>
          <td><img src="http://openweathermap.org/img/wn/<%= @arr_icon0[ 0 ] %>.png" alt="weather logo" title="<%= @arr_icon0[ 2 ] %>"></td>

        </tr>
      </table>

      <div class="mt-20">
        <%= link_to "Edit", edit_trip_input_path(@trip_input), class:"btn btn-secondary" %>
      </div>

    </div>
    <div class="to-container-map">
      coming map
    </div>
  </div>
  <div class="to-container-airport-selection m-20 p-20">
    <% @filtered_airports.each do |airport| %>
      <div class="to-as-flight p-10 mb-10">
        <div class="to-as-flight-element">
          <div><%= image_tag("eye.svg") %></div>
        </div>
        <div class="to-as-flight-element to-outline">
          <div class="distance"><%= "Distance #{airport.distance.round(1)} #{current_user.distance_unit}" %></div>
          <div class="tag tag-outline-light m-5"><%= airport.airport_type %></div>
          <div><%= "#{NormalizeCountry(Airport.find_by(icao: airport.icao).country, :to => :emoji)} #{airport.name} ( #{airport.icao } | #{Airport.find_by(icao: airport.icao).local_code} )"%></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
