<% require "normalize_country" %>

<div class="to-container">
  <div class="to-container-flight-info">
    <div class="to-container-flight-summary p-10 pb-20">
      <h1><em>Flight</em> Summary</h1>
    
      <h3>Departure Airport</h2>
      <%= "#{Airport.find_by(icao: @trip_input.dep_airport_icao).name} ( #{@trip_input.dep_airport_icao} | #{Airport.find_by(icao: @trip_input.dep_airport_icao).local_code} ) #{NormalizeCountry(Airport.find_by(icao: @trip_input.dep_airport_icao).country, :to => :emoji)}"  %>

      <h3>Distance & E.E.T.</h2>
      <%= "#{@trip_input.distance}#{@trip_input.distance_unit} (with 10% margin) | #{pluralize(@trip_input.eet_hour, "hour")} flight" %>

      <h3>Departure Day</h3>
      <%= format_travel_day( @flight_data[:day_departure_offset].to_i ) %>

      <h3>Return Day</h3>
      <%= "#{format_travel_day( @flight_data[:day_return_offset].to_i )} (#{pluralize( @trip_input.overnights, "overnight" )})" %>
      
      <h3>Filters</h3>
      <% if @trip_input.small_airport %>
          <span class="tag tag-light">small airport</span>
      <% end %>
      <% if @trip_input.medium_airport %>
          <span class="tag tag-light">medium airport</span>
      <% end %>
      <% if@trip_input.large_airport%>
        <span class="tag tag-light">large airport</span>
      <% end %>
      <% if @trip_input.international_flight %>
        <span class="tag tag-light">international</span>
      <% else %>
        <span class="tag tag-light">national</span>
      <% end %>
      <% if @trip_input.icao_airport %>
        <span class="tag tag-light">icao</span>
      <% else %>
        <span class="tag tag-light">all</span>
      <% end %>
      <span class="tag tag-danger">Limit <%= @limit %></span>

      <div class="mt-20">
        <%= link_to "Edit", edit_trip_input_path(@trip_input), class:"btn btn-secondary" %>
      </div>

    </div>
    <div class="to-container-map"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  
  <% if @errors.count == 0 %>
    <div class="to-container-airport-selection">
      <% i = 0 %>
      <% @filtered_airports.each do |airport| %>
        <div class="to-as-flight">
          <div class="to-as-fe-airport-title">
            <div class="m-5"><%= "#{NormalizeCountry(Airport.find_by(icao: airport.icao).country, :to => :emoji)} #{airport.name}" %></div>
            <div class="to-as-flight-element">
            <div class="tag tag-light m-5"><%= "#{airport.icao}" %></div>
            <% if !airport.local_code.nil? %>
              <div class="tag tag-light m-5"><%= "#{airport.local_code}" %></div>
            <% end %>
            <div class="tag tag-light m-5"><%= "#{distance_convert(airport.distance, @trip_input.distance_unit)} #{@trip_input.distance_unit}" %></div>
            <div class="tag tag-light m-5">
              <% case airport.airport_type %>
              <% when "small_airport" %>
                <%= "small" %>
              <% when "medium_airport" %>
                <%= "medium" %>
              <% when "large_airport" %>
                <%= "large" %>
              <% end %>
            </div>
            <div class="tag tag-light m-5"><%= "#{airport.altitude} ft" %></div>
          </div>
          </div>

          <h3>Outgoing Weather</h3>
          <div class="to-as-flight-element">
            <table>
              <tr>
                <td></td>
                <% @global_score_out[i].each do |global_score| %>
                  <td>
                    <% if global_score == 1 %>
                      <div class="to-cell-weather-warning"><%= global_score %></div>
                    <% elsif global_score == 2 %>
                      <div class="to-cell-weather-danger"><%= global_score %></div>
                      <% else %>
                      <div class="to-cell-weather-success"><%= global_score %></div>
                    <% end %>
                  </td>
                <% end %>
              </tr>
              <tr>
                <th></th>
                <% @fly_out_dep.each do |fly_out_dep| %> 
                  <th><%= fly_out_dep[:time_unit] %></th>
                <% end %>
              </tr>
              <tr>
                <td>
                  <%= image_tag("icons8-airplane-take-off-64_light.png", style: "height:24px;width:24px") %>
                </td>
                <% @fly_out_dep.each do |fly_out_dep| %> 
                  <td>
                    <div class="to-cell-content">
                      <img src="http://openweathermap.org/img/wn/<%= fly_out_dep[:icon] %>.png" alt="weather logo" title="<%= fly_out_dep[:description] %>">
                      <% if fly_out_dep[:visibility_score] == 1 %>
                        <div class="tag tag-warning m-5" title="5 km < Visiblity < 8 Km">VISI</div>
                      <% elsif fly_out_dep[:visibility_score] == 2 %>
                        <div class="tag tag-danger mb-5" title="Visibility < 8 Km">VISI</div>
                      <% end %>
                      <% if fly_out_dep[:ceiling_score] == 1 %>
                        <div class="tag tag-warning mb-5" title="500 ft < Ceiling < 2000 ft (Possible)">CEIL</div>
                      <% elsif fly_out_dep[:ceiling_score] == 2 %>
                        <div class="tag tag-danger mb-5" title="ceiling < 500ft (Possible)">CEIL</div>
                      <% end %>
                    </div>
                  </td>
                <% end %>
              </tr>
              <tr>
                <th></th>
                <% @fly_out_arr[i].each do |fly_out_arr| %> 
                  <th><%= fly_out_arr[:time_unit] %></th>
                <% end %>
              </tr>
              <tr>
                <td>
                  <%= image_tag("icons8-airplane-landing-64_light.png", style: "height:24px;width:24px") %>
                </td>
                <% @fly_out_arr[i].each do |fly_out_arr| %> 
                  <td>
                    <div class="to-cell-content">
                      <img src="http://openweathermap.org/img/wn/<%= fly_out_arr[:icon] %>.png" alt="weather logo" title="<%= fly_out_arr[:description] %>">
                      <% if fly_out_arr[:visi_score] == 1 %>
                        <div class="tag tag-warning mb-5" title="5 km < Visiblity < 8 Km">VISI</div>
                      <% elsif fly_out_arr[:visi_score] == 2 %>
                        <div class="tag tag-danger mb-5" title="Visibility < 8 Km">VISI</div>
                      <% end %>
                      <% if fly_out_arr[:ceiling_score] == 1 %>
                        <div class="tag tag-warning mb-5" title="500 ft < Ceiling < 2000 ft (Possible)">CEIL</div>
                      <% elsif fly_out_arr[:ceiling_score] == 2 %>
                        <div class="tag tag-danger mb-5" title="ceiling < 500ft (Possible)">CEIL</div>
                      <% end %>
                    </div>
                  </td>
                <% end %>
              </tr>
            </table>
          </div>

          <h3>Ingoing Weather</h3>
          <div class="to-as-flight-element">
            <table>
              <tr>
                <td></td>
                <% @global_score_in[i].each do |global_score| %>
                  <% if global_score == 0 %>
                    <td><div class="to-cell-weather-success"><%= global_score %></div></td>
                  <% elsif global_score == 1 %>
                    <td><div class="to-cell-weather-warning"><%= global_score %></div></td>
                  <% elsif global_score == 2 %>
                    <td><div class="to-cell-weather-danger"><%= global_score %></div></td>
                  <% else %>
                    <td>NA</td>
                  <% end %>
                <% end %>
              </tr>
              <tr>
                <th></th>
                <% @fly_in_dep[i].each do |fly_in_dep| %> 
                  <th><%= fly_in_dep[:time_unit] %></th>
                <% end %>
              </tr>
              <tr>
                <td>
                  <%= image_tag("icons8-airplane-take-off-64_light.png", style: "height:24px;width:24px") %>
                </td>
                <% @fly_in_dep[i].each do |fly_in_dep| %> 
                  <td>
                    <div class="to-cell-content">
                      <img src="http://openweathermap.org/img/wn/<%= fly_in_dep[:icon] %>.png" alt="weather logo" title="<%= fly_in_dep[:description] %>">
                      <% if fly_in_dep[:visi_score] == 1 %>
                        <div class="tag tag-warning mb-5" title="5 km < Visiblity < 8 Km">VISI</div>
                      <% elsif fly_in_dep[:visi_score] == 2 %>
                        <div class="tag tag-danger mb-5" title="Visibility < 8 Km">VISI</div>
                      <% end %>
                      <% if fly_in_dep[:ceiling_score] == 1 %>
                        <div class="tag tag-warning mb-5" title="500 ft < Ceiling < 2000 ft (Possible)">CEIL</div>
                      <% elsif fly_in_dep[:ceiling_score] == 2 %>
                        <div class="tag tag-danger mb-5" title="ceiling < 500ft (Possible)">CEIL</div>
                      <% end %>
                    </div>
                  </td>
                <% end %>
              </tr>
              <tr>
                <th></th>
                <% @fly_in_arr.each do |fly_in_arr| %> 
                  <th><%= fly_in_arr[:time_unit] %></th>
                <% end %>
              </tr>
              <tr>
                <td>
                  <%= image_tag("icons8-airplane-landing-64_light.png", style: "height:24px;width:24px") %>
                </td>
                <% @fly_in_arr.each do |fly_in_arr| %> 
                  <td>
                    <div class="to-cell-content">
                      <img src="http://openweathermap.org/img/wn/<%= fly_in_arr[:icon] %>.png" alt="weather logo" title="<%= fly_in_arr[:description] %>">
                      <% if fly_in_arr[:visi_score] == 1 %>
                        <div class="tag tag-warning mb-5" title="5 km < Visiblity < 8 Km">VISI</div>
                      <% elsif fly_in_arr[:visi_score] == 2 %>
                        <div class="tag tag-danger mb-5" title="Visibility < 8 Km">VISI</div>
                      <% end %>
                      <% if fly_in_arr[:ceiling_score] == 1 %>
                        <div class="tag tag-warning mb-5" title="500 ft < Ceiling < 2000 ft (Possible)">CEIL</div>
                      <% elsif fly_in_arr[:ceiling_score] == 2 %>
                        <div class="tag tag-danger mb-5" title="ceiling < 500ft (Possible)">CEIL</div>
                      <% end %>
                    </div>
                  </td>
                <% end %>
              </tr>
            </table>
          </div>
        </div>
        <% i += 1 %>
      <% end %>
    </div>
  <% else %>
    <% error_messages = "" %>
    <% @errors.each do |error| %>
      <%= error_messages += @errors_label[error] + ". " %>
    <% end %>
    <%= flash[:alert] = error_messages %>
  <% end %>
</div>
