<% require "normalize_country" %>

<div class="to-container p-5">
  <div class="to-container-flight-info m-20">
    <div class="to-container-flight-summary p-20 mr-10">
      <h1><em>Flight</em> Summary</h1>
    
      <h3>Departure Airport</h2>
      <%= "#{Airport.find_by(icao: @trip_input.dep_airport_icao).name} ( #{@trip_input.dep_airport_icao} | #{Airport.find_by(icao: @trip_input.dep_airport_icao).local_code} ) #{NormalizeCountry(Airport.find_by(icao: @trip_input.dep_airport_icao).country, :to => :emoji)}"  %>

      <h3>Distance & E.E.T.</h2>
      <%= "#{@trip_input.distance}#{@trip_input.distance_unit} (with 10% margin) | #{pluralize(@trip_input.eet_hour, "hour")} flight" %>

      <h3>Departure Day</h3>
      <%= format_travel_day(@day_departure_offset) %>

      <h3>Return Day</h3>
      <%= "#{format_travel_day(@day_return_offset)} (#{pluralize(@trip_input.overnights, "overnight")})" %>
      
      <h3>Filters</h3>
      <% if @trip_input.small_airport %>
          <span class="tag tag-info">small airport</span>
      <% end %>
      <% if @trip_input.medium_airport %>
          <span class="tag tag-info">medium airport</span>
      <% end %>
      <% if @trip_input.large_airport %>
        <span class="tag tag-info">large airport</span>
      <% end %>
      <% if @trip_input.international_flight %>
        <span class="tag tag-info">international</span>
      <% else %>
        <span class="tag tag-info">national</span>
      <% end %>
      <% if @trip_input.icao_airport %>
        <span class="tag tag-info">icao</span>
      <% else %>
        <span class="tag tag-info">all</span>
      <% end %>
      <span class="tag tag-danger">Limit <%= @limit %></span>

      <div class="mt-20">
        <%= link_to "Edit", edit_trip_input_path(@trip_input), class:"btn btn-secondary" %>
      </div>

    </div>
    <div class="to-container-map"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  
  <% if @errors.count == 0 %>
    <div class="to-container-airport-selection">
      <% i = 0 %>
      <% @filtered_airports.each do |airport| %>
        <div class="to-as-flight p-20 m-20">
          <div class="to-as-flight-element to-as-fe-airport-title">
            <div class="m-5"><%= "#{NormalizeCountry(Airport.find_by(icao: airport.icao).country, :to => :emoji)} #{airport.name}" %></div>
            <div class="tag tag-info m-5"><%= "#{airport.icao}" %></div>
            <% if !airport.local_code.nil? %>
              <div class="tag tag-info m-5"><%= "#{airport.local_code}" %></div>
            <% end %>
            <div class="tag tag-info m-5"><%= "#{distance_convert(airport.distance, @trip_input.distance_unit)} #{@trip_input.distance_unit}" %></div>
            <div class="tag tag-info m-5"><%= airport.airport_type %></div>
            <div class="tag tag-info m-5"><%= "#{airport.altitude} ft" %></div>
          </div>

          <h3>Outgoing Weather</h3>
          <div class="to-as-flight-element">
            <table>
              <tr>
                <th></th>
                <% @fly_out_dep.each do |fly_out_dep| %> 
                  <th><%= fly_out_dep[0] %></th>
                <% end %>
              </tr>
              <tr>
                <td>
                  <%= image_tag("icons8-airplane-take-off-64_light.png", style: "height:24px;width:24px") %>
                </td>
                <% @fly_out_dep.each do |fly_out_dep| %> 
                  <td><img src="http://openweathermap.org/img/wn/<%= fly_out_dep[1] %>.png" alt="weather logo" title="<%= fly_out_dep[2] %>"></td>
                <% end %>
              </tr>
              <tr>
                <th></th>
                <% @fly_out_arr[i].each do |fly_out_arr| %> 
                  <th><%= fly_out_arr[0] %></th>
                <% end %>
              </tr>
              <tr>
                <td>
                  <%= image_tag("icons8-airplane-landing-64_light.png", style: "height:24px;width:24px") %>
                </td>
                <% @fly_out_arr[i].each do |fly_out_arr| %> 
                  <td><img src="http://openweathermap.org/img/wn/<%= fly_out_arr[1] %>.png" alt="weather logo" title="<%= fly_out_arr[2] %>"></td>
                <% end %>
              </tr>
            </table>
          </div>

          <h3>Ingoing Weather</h3>
          <div class="to-as-flight-element">
            <table>
              <tr>
                <th></th>
                <% @fly_in_dep[i].each do |fly_in_dep| %> 
                  <th><%= fly_in_dep[0] %></th>
                <% end %>
              </tr>
              <tr>
                <td>
                  <%= image_tag("icons8-airplane-take-off-64_light.png", style: "height:24px;width:24px") %>
                </td>
                <% @fly_in_dep[i].each do |fly_in_dep| %> 
                  <td><img src="http://openweathermap.org/img/wn/<%= fly_in_dep[1] %>.png" alt="weather logo" title="<%= fly_in_dep[2] %>"></td>
                <% end %>
              </tr>

              <tr>
                <th></th>
                <% @fly_in_arr.each do |fly_in_arr| %> 
                  <th><%= fly_in_arr[0] %></th>
                <% end %>
              </tr>
              <tr>
                <td>
                  <%= image_tag("icons8-airplane-landing-64_light.png", style: "height:24px;width:24px") %>
                </td>
                <% @fly_in_arr.each do |fly_in_arr| %> 
                  <td><img src="http://openweathermap.org/img/wn/<%= fly_in_arr[1] %>.png" alt="weather logo" title="<%= fly_in_arr[2] %>"></td>
                <% end %>
              </tr>
            </table>
          </div>
        </div>
        <% i += 1 %>
      <% end %>
    </div>
  <% else %>
    <% error_messages = "" %>
    <% @errors.each do |error| %>
      <%= error_messages += @errors_label[error] + ". " %>
    <% end %>
    <%= flash[:alert] = error_messages %>
  <% end %>
</div>
