<% require "normalize_country" %>
<div class="to-container">
  <div class="to-container-flight-information">
    <div class="to-container-flight-summary">
      <h2>Flight Summary</h2>
      <div class="to-container-fs-element">
        <ul>
          <li>Departure: <%= "#{Airport.find_by(icao: @trip_input.dep_airport_icao).name} (#{@trip_input.dep_airport_icao})" %></li>
          <li>Distance: <%= "#{@trip_input.distance_nm} #{current_user.distance_unit} with #{@margin * 100}% margin" %></li>
          <li>Estimated Enroute Time: <%= "#{@trip_input.eet_hour} hour(s)" %></li>
          <li>Flight Back: <%= @trip_input.flight_back == "AM" ? "Morning" : "Afternoon" %></li>
        </ul>
      </div>
      <div class="to-container-fs-element">
        <% if @trip_input.small_airport %>
          <span class="tag tag-info">small airport</span>
        <% end %>
        <% if @trip_input.medium_airport %>
          <span class="tag tag-info">medium airport</span>
        <% end %>
        <% if @trip_input.large_airport %>
          <span class="tag tag-info">large airport</span>
        <% end %>
        <% if @trip_input.international_flight %>
          <span class="tag tag-info">international</span>
        <% else %>
          <span class="tag tag-info">national</span>
        <% end %>
      </div>
      <%= link_to "Edit", edit_trip_input_path(@trip_input), class:"btn btn-secondary" %>
    </div>
    <div class="to-container-map">
      map
    </div>
  </div>

  <div class="to-container-airport-selection">
    <div class="to-container-as-flights">

    </div>
    <div class="to-container-as-accommodations">
    </div>

  </div>
</div>
<h1>TripOutputs#home</h1>


<% @filtered_airports.each do |airport| %>
  <h2>Way to</h2>
  <table>
    <tr>
      <td><%= image_tag("departures.png", alt: "departure logo", width: "18") %><%= "#{@trip_input.dep_airport_icao} #{NormalizeCountry(Airport.find_by(icao: @trip_input.dep_airport_icao).country, :to => :emoji)}" %></td>
      <td><%= "#{airport.distance.round(2)} nm"%></td>
      <td><%= image_tag("arrivals.png", alt: "arrival logo", width: "18") %><%= "#{airport.icao} #{NormalizeCountry(airport.country, :to => :emoji)} (#{airport.airport_type})"%></td>
    </tr>
    <tr>
      <td><%= "#{(Time.zone.now + @trip_input.dep_in_hour.hours).to_fs(:long_ordinal)}" %></td>
      <td><%= "+ #{@trip_input.eet_hour} h" %></td>
      <td><%= "#{(Time.zone.now + @trip_input.dep_in_hour.hours + @trip_input.eet_hour.hours).to_fs(:long_ordinal)}" %></td>
  </table>
<% end %>
<a href="https://www.flaticon.com/free-icons/flight" title="flight icons">Flight icons created by Google - Flaticon</a>
